html,
body {
  padding: none;
  margin: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  background-color: blue;
  width: 500px;
  height: 300px;
  margin: auto;
  position: relative;
  border: 5px solid rgba(0, 217, 255, 0.623);
}

.images-container {
  width: 200rem;
}

.images {
  display: none;
}

.framed {
  display: inline;
}

img {
  width: 500px;
  height: 300px;
}

.left,
.right {
  width: 1rem;
  height: 2rem;
  position: absolute;
  top: 40%;
}

.left {
  left: 10px;
  font-size: 2.5rem;
  height: 3.5rem;
  width: 4rem;
  color: white;
  background: transparent;
  border: transparent;
  transition: background-color 0.25s ease-in-out;
}

.right {
  right: 10px;
  font-size: 2.5rem;
  height: 3.5rem;
  width: 4rem;
  color: white;
  background: transparent;
  border: transparent;
  transition: background-color 0.25s ease-in-out;
}

.dot-container {
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dot {
  background-color: grey;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.highlight {
  border: 2px solid black;
}

.left:hover,
.right:hover {
  cursor: pointer;
  background: rgba(128, 128, 128, 0.5);
}
